h1  {
    font-size: 60px;
}

h3 {
    font-size: 100px;
}

.videoyaudio {
    font-family: "consolas";
    font-weight: "bold";
}

.infomedellin {
    font-family: "Trebuchet MS";
    font-size: 1em;
    color: #091FF6   ;
}

body {
    background: rgb(192, 171, 134);
}