h1  {
    font-size: 60px;
}

h3 {
    font-size: 100px;
}

.videoyaudio {
    font-family: "consolas";
    font-weight: "bold";
}

.infomedellin {
    font-family: "Trebuchet MS";
    font-size: 1em;
    color: #091FF6   ;
}

.header_pagina1 {
    background-color: blue;
    color: white
}

.header_index {
    background-color: green;
}

.nav_pagina1 {
    background-color: white;
}